#heading {
    font-size: 42px;
    font-weight: bold;
    text-shadow: 1px 2px 3px rgb(0, 0, 0);
    color: #F10;
}

.header-area {
    background-color: #6CE6F9;
}

.img-class {
    width: 100%;
    height: 315px;
}

.cart-img {
    width: ;
    height: 140px;
    margin-bottom: -16px;
}

.card-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0px;
    padding-top: 0px;
}

::placeholder {
    color: red;
}

/* Edge */
::-webkit-input-placeholder {
    color: red;
    font-weight: bold;
}

s {
    color: red;
    font-weight: bold;
}

.cart-add-link a {
    font-size: 12px;
}

.card-body p {
    line-height: 16px;
    font-size: 16px;
    margin-bottom: 2px;
    color: #888;
    font-weight: 500;
}

.price-rating-description {
    line-height: 13px;
    font-size: 13px;
    margin-bottom: 2px;
    color: #777;
    font-weight: 500;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cart-add-link {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.social-links {
    font-size: 24px;
}

h1::first-letter {
    font-size: 200%;
    color: #8A2BE2;
}

h2::first-letter {
    font-size: 200%;
    color: #DA0A0A;
    text-shadow: 1px 2px 3px rgba(255, 255, 255, 0.589);
}

h1,
h2,
h3 {
    font-family: 'Allura', cursive;
    font-weight: 800;
    line-height: 18px;
    color:
}

ul>li>a {
    text-transform: uppercase;
}

/** Category &sub category links
 * =============================*/
.category ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.category ul>li {
    background-color: #DDD;
    border-bottom: 1px solid #999;
    border-top: 1px solid #FFF;
}

.category ul>li:last-child {
    border-bottom: 0px solid #999;
}

.category ul>li:first-child {
    border-top: 0px solid #999;
}

.category ul>li>a {
    font-size: 15px;
    font-weight: 500;
    color: #494141;
    text-decoration: none;
    display: block;
    padding: 3px 12px;
}

.category ul>li>a:hover {
    background-color: #3190dd;
    color: #FFF;
    text-align: center;
}

/** Brands Items
 * ==================**/
.brands ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.brands ul>li {
    background-color: #DDD;
    border-bottom: 1px solid #999;
    border-top: 1px solid #FFF;
}

.brands ul>li:last-child {
    border-bottom: 0px solid #999;
}

.brands ul>li:first-child {
    border-top: 0px solid #999;
}

.brands ul>li>a {
    font-size: 15px;
    font-weight: 500;
    color: #494141;
    text-decoration: none;
    display: block;
    padding: 3px 12px;
}

.brands ul>li>a:hover {
    background-color: #1a84db;
    color: #FFF;
    text-align: center;
}
